.profile__edit-button {
    border: 1px solid #fff;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url("../../../images/icon-edit-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    grid-area: button;
    cursor: pointer;
    transition: opacity 0.12s linear;
}

.profile__edit-button:hover {
    opacity: 0.4;
}


@media screen and (max-width: 620px){
    .profile__edit-button{
        justify-self: left;
        background-size: 7.5px;
        width: 18px;
        height: 18px;
    }
}