.profile__name {
    margin: 0;
    grid-area: author;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 800px){
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 620px){
    .profile__name {
        text-align: center;
        max-width: 189px;
    }
}