.popup__btn-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url("../../../images/closeIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.2s linear;
}

.popup__btn-close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 590px){
    .popup__btn-close {
        top: -37px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}