.profile__info {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    grid-template-areas:
    "author button"
    "description .";
}


@media screen and (max-width: 800px){
    .profile__info {
        grid-template-columns: 200px auto;
    }
}
@media screen and (max-width: 620px){
    .profile__info {
        padding-left: 29px;
        margin-left: 0;
        margin-top: 26px;
        grid-template-columns: 1fr 18px;
        grid-column-gap: 10px;
        grid-row-gap: 9px;
    }
}